{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row flex-grow-1 align-items-center justify-content-center">
    <main class="col mt-5 mb-3">
        <!--
        <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" role="button">
            <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">blah</i>
        </button>
        -->

        <h1>B2V - Eleição Eletrônica</h1>
        {% if user.is_authenticated %}
        <div>
            <p>
                Sistema Eleitoral com Blockchain.
            </p>
        </div>
        <div class="row">
            <div class="col-10 col-lg-3 col-md-3 col-sm-10">
                <ul>
                    <li>
                        <a class="nav-link" href="{% url 'eleicoes' %}">
                            Eleições em andamento
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">
                            Eleições que participei
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">
                            Explorador Blockchain
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </main>
</div>
{% endblock %}