{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid" style="background-color:burlywood;">
        <h1>B2V - Eleição Eletrônica</h1>
        {% if user.is_authenticated %}
        <div>
            <p>
                Sistema Eleitoral com Blockchain.
            </p>
        </div>
        <div>
            <ul>
                <li>
                    <a class="nav-link" href="{% url 'criar-eleicao' %}">
                        Criar Eleição
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'eleicoes' %}">
                        Eleições em andamento
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        Eleições que participei
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}