{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row flex-grow-1 align-items-center justify-content-center">
    <main class="col">
        {% if not voter_has_voted %}
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <h1>{{ election.tittle }}</h1>
            <div>
                <h4>{{ election.description }}</h4>
            </div>
            <hr>

            {% for position in election.positions %}
            <div class="row mb-3">
				<div class="col-6 col-lg-2 col-md-2 col-sm-4">
					<label for="choice" class="form-label"><h4>{{position.description}}</h4></label>
					<input type="number" id="choice" name="{{position.id}}" class="form-control" required autofocus onclick="get_candidacy_details()">
				</div>
                <div id="info-{{position.id}}" class="col-6 col-lg-10 col-md-2 col-sm-8" >
					Informações da candidatura
				</div>
			</div>
            <hr>
            {% endfor %}

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-danger" type="reset">Corrige</button>
                    <button class="btn btn-success" type="submit">Confirma</button>
                </div>
            </div>
        </form>
        {% else %}
        <p>Tu já votou, menó!</p>
        {% endif %}
    </main>
</div>
<script src="{% static 'js/election_vote.js' %}"></script>
{% endblock %}