{% extends 'base.html' %}
{% block content %}
<div class="row flex-grow-1 align-items-center justify-content-center">
    <main class="col mt-5 mb-3">
        <h1 class="text-primary">Eleições</h1>
    
        <table class="table table-striped table-primary table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Início</th>
                <th scope="col">Fim</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for election in elections %}
                <tr class="table-light">
                    <td>{{ election.tittle }}</td>
                    <td>{{ election.start|date:"d/m/Y, H:i" }}</td>
                    <td>{{ election.end|date:"d/m/Y, H:i" }}</td>
                    <td>
                        <a href="/eleicoes/votar/{{election.id}}">
                            <span class="material-icons" title="Votar">how_to_vote</span>
                        </a>
                        <a href="/eleicoes/{{election.id}}">
                            <span class="material-icons" title="Detalhes">info</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</div>

{% endblock %}