{% extends 'base.html' %}
{% block content %}
<div class="row flex-grow-1 align-items-center justify-content-center">
    <main class="col">
    
    <table class="table table-primary table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Início da Votação</th>
            <th scope="col">Fim da Votação</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
            {% for election in elections %}
            <tr class="table-info">
                <th scope="row">{{ election.id }}</th>
                <td>{{ election.tittle }}</td>
                <td>{{ election.start }}</td>
                <td>{{ election.end }}</td>
                <td>
                    <a href="/eleicoes/votar/{{election.id}}">
                        <span class="material-icons" title="Votar">ballot</span>
                    </a>
                    <a href="#">
                        <span class="material-icons" title="Resultado">search</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </main>
</div>

{% endblock %}