{% extends 'base.html' %}
{% block content %}
<div class="row flex-grow-1 align-items-center justify-content-center">
    <main class="col-12 col-lg-6 mt-5 mb-3">
		<form action="{% url 'cargos-gerenciador' pk=election.id %}" method="POST" autocomplete="off">
			{% csrf_token %}

			<h1 class="h3 mb-3 font-weight-normal text-primary">Criar Cargo</h1>

			<div>
				<h3>{{ election.tittle }}</h3>
			</div>
			
			<input type="integer" id="{{ form.id_election.id_for_label }}" name="id_election" value="{{election.id}}" hidden>

			<div class="row mb-3">
				<div class="col-12">
					<label for="{{form.order.id_for_label}}"><b>Ordem</b></label>
					<input type="number" id="{{form.order.id_for_label}}" name="order" class="form-control" placeholder="Informe a ordem" required autofocus>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-12">
					<label for="{{form.name.id_for_label}}"><b>Nome</b></label>
					<br>
					<input type="text" id="{{form.name.id_for_label}}" name="name" class="form-control" placeholder="Informe a descrição" required>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-12 col-lg-6">
					<button class="btn btn-lg btn-primary btn-block w-100" type="submit">Criar</button>
				</div>
			</div>

		</form>
	</main>
</div>
{% endblock %}