{% extends 'base.html' %}
{% block content %}
    <form class="form-signin" method="post" autocomplete="off">
        {% csrf_token %}
        <img class="mb-4" src="https://www.geekuniversity.com.br/static/images/favicon.4fcb819d32bf.ico" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Entrar no Sistema</h1>

        <label for="username" class="sr-only">E-mail</label>
        <input type="email" id="username" name="username" class="form-control" placeholder="Informe seu e-mail" required autofocus>

        <label for="password" class="sr-only">Senha</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Informe sua senha" required>

        <div>
            <p>Não possui conta? Clique <a href="{% url 'registrar' %}">aqui</a></p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        
        <p class="mt-5 mb-3 text-muted">&copy; {% now 'Y' %}</p>
    </form>
{% endblock %}