{% extends 'base.html' %}
{% block content %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Cadastro</h1>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="{{register_form.first_name.id_for_label}}"><b>Primeiro Nome:</b></label>
                {% if register_form.first_name.errors %}
                    <ul>
                    {% for error in register_form.first_name.errors %}
                        <li style="color: red;">{{ error|escape }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
        		<input type="text" id="{{register_form.first_name.id_for_label}}" name="{{register_form.first_name.id_for_label}}" class="form-control" placeholder="Primeiro nome" required>
                <p style="color: blue;">{{ register_form.first_name.help_text }}</p>
                <h2>{{ register_form.first_name.value }}</h2>
			</div>
            <div class="form-group col-md-6">
				<label for="{{register_form.last_name.id_for_label}}"><b>Último Nome:</b></label>
                {% if register_form.last_name.errors %}
                    <ul>
                    {% for error in register_form.last_name.errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
        		<input type="text" id="{{register_form.last_name.id_for_label}}" name="{{register_form.last_name.id_for_label}}" class="form-control" placeholder="Último nome" required>
                <p style="color: blue;">{{ register_form.last_name.help_text }}</p>
			</div>
		</div>

        <div class="form-row">
            <div class="form-group col-md-12">
				<label for="{{register_form.username.id_for_label}}"><b>E-mail:</b></label>
                {% if register_form.username.errors %}
                    <ul>
                    {% for error in register_form.username.errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
        		<input type="email" id="{{register_form.username.id_for_label}}" name="{{register_form.username.id_for_label}}" class="form-control" placeholder="E-mail" required>
                <p>{{ register_form.username.help_text }}</p>
			</div>
		</div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="{{register_form.password1.id_for_label}}"><b>Senha:</b></label>
                {% if register_form.password1.errors %}
                    <ul>
                    {% for error in register_form.password1.errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <input type="password" id="{{register_form.password1.id_for_label}}" name="{{register_form.password1.id_for_label}}" class="form-control" placeholder="Senha" required>
                <p>{{ register_form.password1.help_text }}</p>
            </div>
		</div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="{{register_form.password2.id_for_label}}"><b>Repita a Senha:</b></label>
                {% if register_form.password2.errors %}
                    <ul>
                    {% for error in register_form.password2.errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <input type="password" id="{{register_form.password2.id_for_label}}" name="{{register_form.password2.id_for_label}}" class="form-control" placeholder="Repita a senha" required>
                <p>{{ register_form.password2.help_text }}</p>
            </div>
		</div>

        <p>{{ register_form.non_field_errors }}</p>

        <div class="form-row">
			<div class="form-group col-md-6">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Concluir</button>
			</div>
		</div>

    </form>
{% endblock %}